/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-12-2019, 11:17:43 AM
    Author     : RRDESC04
*/
.ownbutton{
    color: white;
    background-color:transparent;
    border: none;
    padding: 0px;


}
.ownform{
    padding: 0px;
    margin: 0px;
    background-color: #ed1c24;
}
.owndiv{
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-color: yellow;
}
.ownWhitoutBootstrap td{
    font-size: 15px;
}

.ui-datatable .ui-datatable-header {
    text-align: right !important;
}

.ui-button-text-only .ui-button-text {
    padding: 0.3em 0.4em;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
    visibility: hidden;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
    width: 100%;
    box-sizing: border-box;
}

.year-spinner input {
    width: 100%;
    box-sizing: border-box;
}
.modal-content1 {
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.ui-dialog-titlebar{
    background-color: #fff;
}
/*el breadcrub*/
.ui-breadcrumb, ui-module, ui-widget, ui-widget-header {
    background: #fff176;
    border: 1px solid white;   
    border: 100px;

}
#ownbreadCrumb
{
    padding: 20px;
    margin-bottom: 10px;
}

.ui-menuitem-text{
    color:black;
}
/*header table color*/
.ui-datatable-header{
    background: #e8eaf6;
}
/*paginator table color*/
.ui-paginator, ui-paginator-top, ui-widget-header{
    background: #e8eaf6;
}
/*button green bello*/
.green1{
    border-color: #00c851 !important;
    background-color: transparent !important;
    color: #00c851 !important;
    margin-right: 10px;

}
/*button red bello*/
.red1{
    border-color: #ff3547  !important;
    background-color: transparent !important;
    color: #ff3547  !important;
    margin-right: 100px;
}.ui-button, ui-widget, ui-state-default, ui-corner-all, ui-button-text-only{
    margin-right: 100px;
}
/*filter column color*/
.ui-state-default, ui-filter-column{
    background: #e8eaf6;
}
.ui-paginator-page, ui-state-default, ui-state-active, ui-corner-all{
    background: white;
    background-color: white;
}

/*.ownModelstyle{
    width: 50%;
    max-width: 50%;
    height: auto;
    bottom: 0;
    position: absolute;
    margin: 0;
    right: 0;
}*/
.ui-datatable-data ui-widget-content {
    width: 10px;
    text-align: left;
}